<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Reduce time spent on Balance Sheet Reconciliations by up to 90%</h2>
                <hr class="light">
                <p class="text-faded">​Preparing reconciliations by hand is time consuming, costly and prone to error.</p>
                <p class="text-faded">​Our unique Machine Learning technology takes the guesswork out of reconciliation. Reduce time spent on boring Balance Sheets and set yourself free to do what you do best.</p>
                <a href="#" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
