<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 text-center">
                <h2 class="section-heading">Intelligent Machine Learning</h2>
                <hr class="primary">
                <p class="text-muted">Our Machine Learning AI gets to know your business by scanning ledger entries and using Natural Language Processing technology to group transactions together.</p>
                <p class="text-muted">It then eliminates all transactions that clear down and returns only those transactions that contribute to your balance.</p>
                <p class="text-muted">Rec Bot is like your own army of Accounts Clerks; we do the boring bits of your accounts, so you don't have to!</p>
            </div>
            <div class="col-lg-6 text-center">
              <div class="service-box">
                <img src="img/robot-heart.jpg" class="img-responsive" alt="">
              </div>
            </div>
        </div>
    </div>
</section>
