<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">How Does it Work?</h2>
                <hr class="primary">
                <p class="text-muted">Rec Bot uses Natural Language Processing and a Machine Learning AI to read not just your Chart of Accounts and Cost Centres, but your handwritten transaction descriptions. Interpreting meaning in your accounts, just like a human accountant.</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-table wow bounceIn text-primary"></i>
                    <h3>Step One</h3>
                    <p class="text-muted">Upload all transactions from the account you want to reconcile to Rec.Bot as a .csv file.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-cogs wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Step Two</h3>
                    <p class="text-muted">Rec.Bot's Natural Language Processing AI scans your transactions and eliminates transactions that net to zero.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-check-circle wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Step Three</h3>
                    <p class="text-muted">Rec.Bot returns a list of all reconciled transactions, and a separate list of all cleared transactions.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Step Four</h3>
                    <p class="text-muted">Relax as RecBot runs your balance sheet for you!</p>
                </div>
            </div>
        </div>
    </div>
</section>
